.git
.gitignore
.env
.env.*
!.env.example

node_modules
**/node_modules

dist
**/dist
.next
**/.next
.turbo
**/.turbo
coverage
**/coverage

tmp
**/tmp
artifacts
playwright-report
test-results

.DS_Store
